@model MontyHallproblem.Models.InputModel

@{
    ViewBag.Title = "Monty Hall Problem";
}

<div class="jumbotron">
    <h1>Monty Hall Problem</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Start calculation</h2>
        <p>
            <h4>Fill the form and start</h4>
        </p>
        <div>
            @using (Ajax.BeginForm("GetMontyHallResult", "Home",
                     new AjaxOptions
                     {
                         HttpMethod = "POST",
                         OnSuccess = "OnSuccess",
                         OnFailure = "OnFailure",
                     }))
            {
                @Html.AntiForgeryToken()

                <span class="alert-danger">
                    @Html.ValidationSummary()
                </span>

                <table id="table" class="table">
                    
                    <tr class="form-group">
                        <td>Number of simulations:  </td>
                        <td>

                            @Html.TextBoxFor(m => m.NumberOfSimulations, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>Do you want to stay in the same door ?  </td>
                        <td>
                            @Html.DropDownListFor(m => m.IsStay, new List<SelectListItem>
                           { new SelectListItem{Text="Yes", Value="Stay"},
                             new SelectListItem{Text="No", Value="Change"}}, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Start" class="btn btn-primary form-control" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
